# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*

# Env files
.env

# Build folders
build/
dist/
target/
out/

# IDE
.vscode/

# OS files
.DS_Store
venv/
.venv/
__pycache__/
*.pyc

# Node
node_modules/
npm-debug.log*

# Env files
.env

# Build folders
build/
dist/
target/
out/

# IDE.vscode/

# OS files
.DS_Store
