.weather-card {
  background: white;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  text-align: center;
}

.weather-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.weather-card h3 {
  font-size: 20px;
  color: #166534;
  margin-bottom: 6px;
}

.city {
  font-size: 17px;
  color: #555;
}

.temp {
  font-size: 38px; /* ⬆ very visible */
  font-weight: bold;
  color: #15803d;
}

.desc {
  font-size: 16px;
  color: #444;
}
